.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  height: 100vh;
}

.controls {
  width: 20%;
  padding: 1rem;
  background: #141414;
  color: #fff;
  font-family: 'Pacifico', cursive;
  border-color: #141414;
  color: #c5c3a5;
  
}

.map {
  width: 82%;
  height: 100vh;
}

.map-container {
  width: 100%;
  height: 100vh;

}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #c5c3a5;
  background-color: #c5c3a5;
}

.welcomeCard {
  border-radius: 5px;
  margin: 27% 34% 10% 10%;
  width: 50%;
  font-family: 'Pacifico', cursive;
}

@keyframes flyIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.welcome {
  font-size: 3.2rem;
  animation: flyIn 1s ease forwards;

}

.subtitle {
  font-size: 1.5rem;
  animation: flyIn 1s ease forwards;
}

.homeContainer {
  display: flex;
  justify-content: center;
  background-image: url('./images/safePassage.jpg');
  background-size: cover; /* Adjust to your preference */
  background-repeat: no-repeat; /* Adjust to your preference */
  background-position: center; 
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  height: 100%;
}

.homeContainer button {
  padding: 10px 25px 10px 25px;
  font-size: 1.5rem;
  margin-top: 5%;
  border-radius: 7px;
  border: 2px solid black;
  font-family: 'Pacifico', cursive;
  background-color: #edc57e;
  width: 50%;
  transition: transform 0.3s ease;
}

.icon {
  margin-left: 5%
}

.homeContainer button:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: #dba355;
}

.mapColorLoader {
  margin-top: 10%;
  font-size: 1.5rem;
  background: linear-gradient(to right, red, green);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.colorKey {
  margin-top: 10%;
  font-size: 1.5rem;
  background: linear-gradient(to right, red, green);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradientBackgroundDiv {
  margin-top: 10%;
  font-size: 1.5rem;
  background: linear-gradient(to right, red, green);
  padding: 10px; /* Add padding as needed */
  display: inline-block; /* To make the div only as wide as its content */
  color: white; /* Text color for the content inside the div */
  width: 90%;
  height: 50px;
  border-radius: 8px;
}

.keyContainer {
  display: flex;
  justify-content: space-between;
}

.danger {
  color: red;
  font-size: 1.2rem;
}

.safe {
  color: green;
  font-size: 1.2rem;
}

